
# dependencies
node_modules/

#env files(credentials)
config/.env.*
!config/.env.example

#reports
reports/
allure-results/
allure-report/
playwright-report/
test-results/

#build
dist/

#auth
src/data/auth.json

#os files
.DS_Store
Thumbs.db

#IDE
.vscode/
.idea/

#logs
*.logsnpm-debug.log*

#misc
*.tgz

